@media print {
    #resume-content {
      width: 210mm !important;
      min-height: 297mm !important;
      margin: 0 auto !important;
      box-shadow: none !important;
      background: #fff !important;
    }
  }