<div class="flex flex-col font-sans text-[14px] text-[#333] bg-white md:bg-[#eeeeee]">
  <div class="" *transloco="let t">
    <div class="p-5 bg-white border-b-2 border-[#bdbdbd] mb-5 rounded-sm hidden md:block">
      <div class="intxt text-[13px] leading-6 font-semibold text-black mb-3.5">
        <span>{{ t("rightbar.videoTitle1") }} </span>
        <a class="text-[#004DB3]" href="https://www.youtube.com/watch?v=ddOtsmypiAA&amp;list=PLR1m9fmwtfMUvS-zY7SzWF0WDZp9J1BYB&amp;index=1" rel="noopener" target="_blank">
          {{ t("rightbar.videoTitle2") }}
        </a>
        <span>{{ t("rightbar.videoTitle3") }}</span>
      </div>

      <div class="vtl-wrap max-w-[209px] h-[118px] mx-auto rounded-lg">
        <a target="_blank" href="https://www.youtube.com/playlist?list=PLR1m9fmwtfMUvS-zY7SzWF0WDZp9J1BYB">
          <img src="/images/htcbdjacceng_1.jpg" alt="create bdjobs account through YouTube video tutorial"
            class="h-full w-full" />
        </a>
      </div>
    </div>

    <div class="p-5 border-b-2 mb-5 border-[#bdbdbd] rounded-sm hidden bg-white md:block">
      <ul class="m-0 p-0">
        <li class="list-none mb-5 min-h-[60px]">
          <img src="/images/ficon_01.png" alt="Features icon 1" class="float-left mr-2.5" />
          <p class="text-left pt-0 leading-6">
            {{ t("rightbar.notificationTitle") }}
          </p>
        </li>

        <li class="list-none mb-5 min-h-[60px]">
          <img src="/images/ficon_02.png" alt="Features icon 2" class="float-left mr-2.5" />
          <p class="text-left pt-0 leading-6">
            {{ t("rightbar.applyViewTitle") }}
          </p>
        </li>

        <li class="list-none mb-5 min-h-[60px]">
          <img src="/images/ficon_03.png" alt="Features icon 3" class="float-left mr-2.5" />
          <p class="text-left pt-0 leading-6">
            {{ t("rightbar.rcvMsgTitle") }}
          </p>
        </li>

        <li class="list-none mb-5 min-h-[60px]">
          <img src="/images/ficon_04.png" alt="Features icon 4" class="float-left mr-2.5" />
          <p class="text-left pt-0 leading-6">
            {{ t("rightbar.joinCompanies") }}
          </p>
        </li>
      </ul>
    </div>

    <div class="p-5 border-b-2 mb-5 rounded-sm border-[#bdbdbd] bg-white">
      <h2 class="text-lg font-semibold m-0 p-0">
        {{ t("rightbar.helpTitle") }}
      </h2>
      <p class="pt-[15px] leading-6">
        {{ t("rightbar.facingIssue") }}
      </p>

      <h3 class="phone-number" class="text-red-600">
        <i class="icon-phone" aria-hidden="true" class="mr-1 icon-phone"></i>
        09638666444, 01897627858
      </h3>

      <h3 class="email-address" class="text-lg font-bold my-2 pl-0 text-[#004db3]">
        <i class="icon-envelope" aria-hidden="true"></i>
        {{ "support@bdjobs.com" }}
      </h3>
    </div>

    <div class="p-5  border-b-2 mb-5 border-[#bdbdbd] rounded text-center bg-[url('/images/cbg.png')] bg-no-repeat bg-cover bg-[0_100%] bg-white hidden md:block">
      <h2 class="text-xl font-bold text-center mb-4 p-0">
        {{ t("rightbar.regTitle") }}
      </h2>

      <a class="inline-block mb-0 font-normal text-center align-middle cursor-pointer bg-none border border-transparent whitespace-nowrap text-sm rounded-md select-none bg-[#004db3] text-white h-[45px] py-[0px] px-[15px] leading-[43px] border-b-2 border-[#0b618f]"
        href="https://mybdjobs.bdjobs.com/mybdjobs/default.asp">
        {{ t("rightbar.signinTitle") }}
      </a>
    </div>
  </div>
</div>