<div class="bg-[#263238] py-12" *transloco="let t">

  <div class="max-w-6xl container mx-auto">

    <div class="flex flex-col md:flex-row text-white justify-between px-[10px]">

      <div class="about-us ">
        <h2 class="text-lg mb-4 font-semibold">{{ t('footer.about Us') }}</h2>

        <div class="flex flex-col">

          <a class="text-sm leading-[30px]" href="{{ t('footer.about Us Url') }}" target="_blank">{{ t('footer.about Bdjobs.com') }}</a>
          <a class="text-sm leading-[30px]" href="{{ t('footer.Terms Conditions Url') }}" target="_blank">{{ t('footer.Terms Conditions') }}</a>
          <a class="text-sm leading-[30px]" href="{{ t('footer.Accessibility Statement Url') }}" rel="noopener" target="_blank">{{ t('footer.Accessibility Statement') }}</a>

          <button type="button" class="hs-collapse-toggle text-sm leading-[30px] inline-flex items-center gap-x-2"
            id="hs-basic-collapse" aria-expanded="false" aria-controls="hs-basic-collapse-heading"
            data-hs-collapse="#hs-basic-collapse-heading">
            {{ t('footer.Inteenational Partners') }}
            <svg class="hs-collapse-open:rotate-180 shrink-0 size-4 text-white" xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <path d="m6 9 6 6 6-6"></path>
            </svg>
          </button>
          <div id="hs-basic-collapse-heading"
            class="hs-collapse hidden w-full overflow-hidden transition-[height] duration-300"
            aria-labelledby="hs-basic-collapse">

            <div class="flex flex-col ">

              <a class="text-xs ml-[10px] leading-[30px]" href="http://www.brightermonday.com/" target="_blank"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">Brighter
                  Monday (Africa)</span></a>

              <a class="text-xs ml-[10px] leading-[30px]" href="http://www.catho.com.br/" target="_blank"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">Catho (Brazil)</span></a>

              <a class="text-xs ml-[10px] leading-[30px]" href="http://www.jobberman.com/" target="_blank"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">Jobberman (West Africa)</span></a>

              <a class="text-xs ml-[10px] leading-[30px]" href="http://www.jobsdb.com/" target="_blank"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">jobsDB (S.E Asia)</span></a>

              <a class="text-xs ml-[10px] leading-[30px]" href="http://www.jobstreet.com/" target="_blank"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">JobStreet (S.E Asia)</span></a>

              <a class="text-xs ml-[10px] leading-[30px]" href="https://www.jora.com/" target="_blank"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">Jora (World Wide)</span></a>

              <a class="text-xs ml-[10px] leading-[30px]" href="https://www.occ.com.mx/" target="_blank"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">OCC (Mexico)
                  Mundial</span>
              </a>

              <a class="text-xs ml-[10px] leading-[30px]" href="http://www.seek.com.au/" target="_blank"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">SEEK (Australia)
                </span>
              </a>


              <a class="text-xs ml-[10px] leading-[30px]" href="https://www.workana.com" target="_blank"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">Workana (Latin America)</span></a>

              <a class="text-xs ml-[10px] leading-[30px]" href="http://www.zhaopin.com/" target="_blank"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">Zhaopin (China)</span></a>


            </div>

          </div>


          <button type="button" class="hs-collapse-toggle text-sm leading-[30px] inline-flex items-center gap-x-2"
            id="hs-basic2-collapse" aria-expanded="false" aria-controls="hs-basic2-collapse-heading"
            data-hs-collapse="#hs-basic2-collapse-heading">
            {{ t('footer.Other Partners') }}

            <svg class="hs-collapse-open:rotate-180 shrink-0 size-4 text-white" xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <path d="m6 9 6 6 6-6"></path>
            </svg>
          </button>

          <div id="hs-basic2-collapse-heading"
            class="hs-collapse hidden w-full overflow-hidden transition-[height] duration-300"
            aria-labelledby="hs-basic2-collapse">

            <div class="flex flex-col">

              <button type="button" id="hs-basic3-collapse" aria-expanded="true"
                class="hs-collapse-toggle text-xs ml-[10px] leading-[30px] inline-flex items-center gap-x-2 open"
                aria-controls="hs-basic3-collapse-heading" data-hs-collapse="#hs-basic3-collapse-heading"><span
                  class="icon-list-angle-right"></span><span class="ml-[2px]">AjkerDeal (Bangladesh)</span>

                <svg class="hs-collapse-open:rotate-180 shrink-0 size-4 text-white" xmlns="http://www.w3.org/2000/svg"
                  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path d="m6 9 6 6 6-6"></path>
                </svg>
              </button>

              <div id="hs-basic3-collapse-heading"
                class="hs-collapse w-full overflow-hidden transition-[height] duration-300 open"
                aria-labelledby="hs-basic3-collapse">

                <div class="flex flex-col ml-6">

                  <a class="text-xs ml-[10px] leading-[30px]" href="https://ajkerdeal.com/" target="_blank"><span
                      class="icon-list-angle-right"></span><span class="ml-[10px]">
                      AjkerDeal</span></a>

                  <a class="text-xs ml-[10px] leading-[30px]" href="https://classified.ajkerdeal.com/"
                    target="_blank"><span class="icon-list-angle-right"></span>
                    <span class="ml-[10px]">Classified</span></a>

                </div>

              </div>


              <a class="text-xs ml-[10px] leading-[30px]" href="https://deliverytiger.com.bd/" target="_blank"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">Delivery
                  Tiger (Bangladesh)</span></a>

              <a class="text-xs ml-[10px] leading-[30px]" href="https://www.beshto.com/" target="_blank"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">Beshto (Bangladesh)</span></a>

              <a class="text-xs ml-[10px] leading-[30px]" href="http://www.aspiringminds.com/" target="_blank"><span
                  class="icon-list-angle-right"></span><span class="ml-[10px]">Aspiring Minds (India)</span></a>

            </div>

          </div>


          <a class="text-sm leading-[30px]" href="https://bdjobs.com/policy/Privacy_policy.asp" target="_blank">{{ t('footer.Privacy Policy') }}</a>

          <a class="text-sm leading-[30px]" href="https://jobs.bdjobs.com/feedback.asp" target="_blank">{{ t('footer.Feedback') }}</a>

          <a class="text-sm leading-[30px]" href="{{ t('footer.Contact Us Url') }}" target="_blank">{{ t('footer.Contact Us') }}</a>

        </div>

      </div>

      <div class="job-Seekers">

        <h2 class="text-lg mb-4 font-semibold md:mt-0">{{ t('footer.Job Seekers') }}</h2>

        <div class="flex flex-col">

          <a class="text-sm leading-[30px]" href="{{ t('footer.Create Account Url')}}" target="_blank">{{ t('footer.Create Account') }}</a>

          <a class="text-sm leading-[30px]" href="https://mybdjobs.bdjobs.com/mybdjobs/package-info.asp" target="_blank">{{ t('footer.bdJobs pro') }}</a>

          <a class="text-sm leading-[30px] relative" href="https://mybdjobs.bdjobs.com/mybdjobs/user-guide-for-video-resume.asp" target="_blank">{{ t('footer.Video CV') }}
          </a>

          <a class="text-sm leading-[30px]" href="{{ t('footer.My Bdjobs Panel Url')}}" target="_blank">{{ t('footer.My Bdjobs Panel')}}</a>

          <a class="text-sm leading-[30px]" href="https://mybdjobs.bdjobs.com/emailnotification/view_all_feature.asp"
            target="_blank">{{ t('footer.List of Features')}}</a>

          <a class="text-sm leading-[30px]" href="https://bdjobs.com/career/counsel.asp" target="_blank">{{ t('footer.Career Counseling')}} </a>

          <a class="text-sm leading-[30px]" href="{{ t('footer.Video Guides Url')}}"
            target="_blank">{{ t('footer.Video Guides')}}</a>

          <a class="text-sm leading-[30px]" href="{{ t('footer.FAQ Url')}}"
            target="_blank">{{ t('footer.FAQ')}}</a>

        </div>

      </div>

      <div class="recruiter ">

        <h2 class="text-lg mb-4 font-semibold mt-4 md:mt-0">{{ t('footer.Recruiter')}}</h2>

        <div class="flex flex-col">

          <a class="text-sm leading-[30px]" href="https://corporate3.bdjobs.com/Corporate_NewAccount.asp" target="_blank">{{ t('footer.Create Account under Recruiter')}}</a>

          <a class="text-sm leading-[30px]" href="https://corporate3.bdjobs.com/services.asp" target="_blank">{{ t('footer.Products/Service')}}</a>

          <a class="text-sm leading-[30px]" href="https://corporate3.bdjobs.com/disability-inclusion-practices.asp"
            target="_blank">{{ t('footer.Disability Inclusion Practice')}}</a>

          <a class="text-sm leading-[30px]" href="https://recruiter.bdjobs.com/jobposting/" target="_blank">{{ t('footer.Post a Job')}}</a>

          <a class="text-sm leading-[30px]" href="https://corporate3.bdjobs.com/help/help.asp" target="_blank">{{ t('footer.FAQ under Recruiter')}}</a>

          <!-- <a class="text-sm leading-[30px]" href="https://bdjobs.com/contact.asp" target="_blank">Contact Us</a> -->

          <h3 class="text-base font-medium my-[10px] mt-1">{{ t('footer.Download Employer App')}}</h3>

          <a class="mb-[6px]" href="https://play.google.com/store/apps/details?id=com.bdjobs.recruiter" target="_blank">
            <img class="h-[36px]" src="images/google-play-badge.svg" alt="Download Employer App">
          </a>

          <a class="text-sm leading-[30px]" href="https://apps.apple.com/us/app/bdjobs-employer/id1479828492"
            target="_blank">
            <img class="h-[36px]" src="https://bdjobs.com/icons/App-Store-Badge.svg" alt="Download Employer App iOS">
          </a>

        </div>

      </div>

      <div class=" social-media ">

        <h2 class="text-lg mb-4 font-semibold mt-4 md:mt-0">{{ t('footer.Tools & Social Media')}}</h2>

        <div class="flex flex-col">

          <a class="text-sm leading-[30px] flex items-center justify-start" href="https://bdjobs.com/apps/"
            target="_blank"><img class="h-[18px] mr-[5px]" src="https://bdjobs.com/icons/bdjobs-android-app-color.svg"
              alt="app"><span class="  ">{{ t('footer.Bdjobs Android App')}}</span></a>

          <a class="text-sm leading-[30px] flex items-center justify-start"
            href="https://bdjobs.com/apps/ios/index.html" target="_blank"><img class="h-[18px] mr-[5px]"
              src="https://bdjobs.com/icons/bdjobs-android-app-color.svg" alt="app iOS"><span class="  ">{{ t('footer.Bdjobs iOS App')}}</span></a>

          <a class="text-sm leading-[30px] flex items-center justify-start" href="https://www.facebook.com/mybdjobs"
            target="_blank"><img class="h-[18px] mr-[5px]" src="https://bdjobs.com/icons/facebook-color.svg"
              alt="social link fb"><span class="  ">{{ t('footer.Facebook')}}</span></a>

          <a class="text-sm leading-[30px] flex items-center justify-start" href="https://b.bdjobs.com/google-page"
            target="_blank"><img class="h-[18px] mr-[5px]" src="https://bdjobs.com/icons/google-plus-color-new.svg"
              alt="social link googleplus"><span class="  ">{{ t('footer.Google')}}</span></a>

          <a class="text-sm leading-[30px] flex items-center justify-start" href="https://www.youtube.com/mybdjobs"
            target="_blank"><img class="h-[18px] mr-[5px]" src="https://bdjobs.com/icons/youtube-color.svg"
              alt="social link youtube"><span class="  ">{{ t('footer.Youtube')}}</span></a>

          <a class="text-sm leading-[30px] flex items-center justify-start" href="https://linkedin.com/company/mybdjobs"
            target="_blank"><img class="h-[18px] mr-[5px]" src="https://bdjobs.com/icons/linkedin-color.svg"
              alt="social link li"><span class="  ">{{ t('footer.LinkedIn')}}</span></a>

          <a class="text-sm leading-[30px] flex items-center justify-start" href="https://www.instagram.com/mybdjobs/"
            target="_blank"><img class="h-[18px] mr-[5px]" src="https://bdjobs.com/images/instagram-color.svg"
              alt="social link Instagram"><span class="  ">{{ t('footer.Instagram')}}</span></a>

          <h3 class="text-base font-medium my-[10px]">{{ t('footer.Download Mobile App')}}</h3>

          <div class="flex items-center justify-start gap-1">

            <a class="mb-[6px]" href="https://play.google.com/store/apps/details?id=com.bdjobs.app" target="_blank">
              <img class="h-[36px]" src="images/google-play-badge.svg" alt="Download Bdjobs App">
            </a>

            <a class="mb-[6px]" href="https://appgallery.huawei.com/#/app/C101426113" target="_blank">
              <img class="h-[36px]" src="images/appgallery.svg" alt="Download Bdjobs App">
            </a>

          </div>

          <a class="text-sm leading-[30px]" href="https://apps.apple.com/us/app/bdjobs/id1435728822" target="_blank">
            <img class="h-[36px]" src="https://bdjobs.com/icons/App-Store-Badge.svg" alt="Download Bdjobs App iOS">
          </a>

        </div>

      </div>
    </div>

    <div class=" flex flex-col  sm:flex-row gap-2">
      <span class="px-2.5 sm:px-0 mt-2 sm:mt-0.5 text-base text-white">{{ t('footer.Need support')}}</span>
      <div class="sm:px-0 self-center sm:self-start flex items-start sm:flex-row sm:items-center  gap-1.5 text-[#ff8000]">
        <!-- <img src="images/fus.png" alt="" class="self-start"> -->
        <i class="mr-1 icon-phone"></i>
        <span class="self-center font-bold text-lg sm:text-2xl">09638666444, 01897627858</span>
      </div>


      <p></p>
    </div>
    <div>
      <p class="my-2 px-2.5 sm:px-0 sm:mt-0 text-sm sm:text-base text-white ">{{ t('footer.Contact Center Title')}}</p>
    </div>


  </div>

</div>