<div class="relative w-full">
  @if (label()) {
  <label [for]="name()" class="block text-xs font-medium leading-6 text-gray-900">
    {{ label() }}
  </label>
  }

  <select
  [name]="name()"
  [id]="name()"
  [required]="isRequired()"
  [formControl]="control()"
  [attr.disabled]="isDisabled() ? true : null"
  [ngClass]="{'cursor-not-allowed': isDisabled(), 'cursor-pointer': !isDisabled()}"
  [ngStyle]="isDisabled() ? {'pointer-events': 'none'} : {}"
  class="my-0 relative py-1.5 px-3 pe-9 flex text-nowrap w-full cursor-pointer bg-white border border-gray-400 rounded text-start text-sm focus:border-blue-500 focus:ring-blue-500 before:absolute before:inset-0 before:z-[1]"
  
>
   <!-- class="my-1 relative py-2 px-3 pe-9 flex text-nowrap w-full bg-white border border-gray-200 rounded text-start text-sm focus:border-blue-500 focus:ring-blue-500" -->

    @if (falseOption()) {
      <option value="" disabled selected>{{falseOptionText()}}</option>

    } @else {
      <option value="" disabled selected  >
        {{ placeholder() }}
      </option>
    }

    @for (option of options(); track $index) {
      <option [selected]="option.isSelected" [value]="option.value">
        {{ option.label ? option.label : "" }}
      </option>
    }
  </select>
</div>
