<section class="flex flex-col items-center justify-center p-6 bg-gray-50 rounded-lg border border-gray-300 max-w-4xl mx-auto">
  <div class="relative w-full h-[333px] rounded-lg bg-gray-50 flex flex-col items-center justify-center">

    <div class="flex items-center justify-center w-[200px] h-[200px] rounded-full bg-blue-600 bg-opacity-10 mb-4">
      <img src="images/profile.svg">
    </div>

    <div class="flex gap-4 sm:gap-6 md:gap-8 flex-wrap justify-center">
      <button class="px-3 py-1 text-xs sm:px-4 sm:py-1.5 sm:text-sm bg-white text-[#344054] rounded-lg border border-[#D0D5DD] shadow-sm hover:bg-red-600 hover:text-white transition-colors">
        <span class="font-semibold leading-5">Delete Image</span>
      </button>
      <button class="px-3 py-1 text-xs sm:px-4 sm:py-1.5 sm:text-sm bg-[#C63C92] text-white rounded-lg border border-white/10 shadow-sm hover:bg-pink-700 transition-colors">
        <span class="font-semibold leading-5">Change Image</span>
      </button>
    </div>

  </div>
</section>
