<div class="md:w-[488px] p-2" *transloco="let t read:'signin.password'">
    <div>
        <p class="text-[#000000] text-2xl font-semibold text-center">{{t('welcomeBack')}}</p>
        <p class="text-[#595959] text-base font-normal text-center">{{t('accessAllOfBdjobsServices')}}</p>
    </div>
    <div class="bg-[#F3F3F3] rounded-2xl px-4 py-3 mt-6 mb-10">
        <div class="flex items-center gap-3">
            <img class="w-12 h-12 rounded-full" [src]="getPhoto(userObj()?.photoUrl ?? '')" alt="">
            <div class="flex items-center justify-between w-full">
                <div>
                    <p class="text-sm sm:text-base font-medium text-[#383E49]">{{userObj()?.fullName}}</p>
                    <p
                        class="text-xs sm:text-sm text-[#5D6679] bg-[#F9FAFB] px-2 py-1 rounded-full border border-[#E4E7EC]">
                        {{userObj()?.username}}</p>
                </div>
                <p (click)="backPage()" class="cursor-pointer text-[#3892F3] text-sm sm:text-lg font-medium">
                    {{t('change')}}</p>
            </div>
        </div>
    </div>
    <div>
        <form (submit)="onSubmit($event)" class="">
            <p class="text-[#48505E] text-sm font-medium">{{t('password')}}</p>
            <div class="relative">
                <app-input [type]="type()" [isDecimalAllowed]="true" [isNumericOnly]="false" [maxLength]="maxLength"
                    [maxValue]="maxValue" [control]="passwordControl">
                </app-input>
                <span (click)="showPassword()" [ngClass]="type() ==='password'? 'icon-eye-slash':'icon-eye'"
                    class="cursor-pointer text-[#5D6679] text-base absolute right-4 top-2.5"></span>
            </div>

            @if(isPasswordEmpty()){
            <p class="flex gap-2 mt-1 text-[#AC2719] text-[11px] font-medium"><img src="images/info-red.svg"
                    alt="info-red">
                {{t('plsEnterPassword')}}
            </p>
            }@else if(isWrongPass()){
            <p class="flex gap-2 mt-1 text-[#AC2719] text-[11px] font-medium"><img src="images/info-red.svg"
                    alt="info-red" class="self-start">
                <span>{{t('wrongPassword')}}</span>
            </p>
            }

            <a (click)="sharedService.updateType('find-acc')" class="text-[#B32D7D] text-sm font-medium cursor-pointer"
                *transloco="let t read:'signin'">{{t('signin.ForgotUserIdOrPassword')}}</a>

            @if(isLoading()){
            <div class="spinner-container">
                <div class="spinner"></div>
            </div>
            }@else {
            <button class="transition-all duration-300 bg-[#B32D7D] text-white w-full h-12 rounded-full mt-8">
                {{t('SignIn')}}
            </button>

            }



            <!-- <button [ngClass]="{
                'w-full h-12 px-4 py-2.5': !isLoading(),
                'w-10 h-10 p-0 -mt-2': isLoading()
              }"
                class="self-center transition-all duration-[1500ms] bg-[#B32D7D] text-white rounded-full mt-8 flex items-center justify-center overflow-hidden">
                <span *ngIf="!isLoading()" class="transition-opacity duration-200">{{ t('SignIn') }}</span>
                <div *ngIf="isLoading()" class="spinner2"></div>
            </button> -->




        </form>
        <div class="flex flex-col items-center mt-6 gap-2 sm:mb-0 mb-36" *transloco="let t read:'signin.signin'">
            <a class="text-[#B32D7D] text-sm sm:text-base font-medium" role="button"
                (click)="sharedService.updateType('username')">{{t('signinToDifferentAccount')}}</a>
            <div class="flex items-center justify-center gap-2">
                <p class="text-sm text-[#667085] whitespace-nowrap">{{t('ForgotUserIdOrPassword')}}</p>
                <a (click)="sharedService.goToSignUpFlow()"
                    class="text-[#B32D7D] text-base font-medium cursor-pointer">{{t('SignUp')}}</a>
            </div>

        </div>
    </div>
</div>