.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.spinner {
    width: 100%;
    border: 3.5px solid #B32D7D;
    border-left-color: #ddd;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    animation: spin 1s linear infinite;
    /* Spin animation */
}

#loading-spinner {
    display: none;
}

/* Show the loading spinner when isLoading is true */
#loading-spinner.show {
    display: block;
}

.spinner2 {
    border: 2.5px solid #B32D7D;
    border-left-color: #ddd;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}