

<div class="bg-white rounded-none md:rounded-2xl border min-w-[1000px] border-gray-200 shadow-sm !w-full p-5">
  <div>
    <ngx-skeleton-loader
      [theme]="{
        'background-color':'#F2F2F2',
        width: '58%',
        height: '32px',
        'border-radius': '5',
        'margin-bottom': '10px'
      }"
    />
  </div>
  <div>
    <ngx-skeleton-loader
      [theme]="{
        'background-color':'#F2F2F2',
        width: '45%',
        height: '20px',
        'border-radius': '5',
        'margin-bottom': '10px'
      }"
    />
  </div>

  <div class="w-full grid grid-cols-1 md:grid-cols-7 gap-4">
    <div class="col-span-1 md:col-span-5 flex flex-col">
      <div class="w-full border border-[#E4E7EC] rounded-lg p-4 mb-5">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
          <div class="w-full">
            <div>
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{'background-color':'#F2F2F2',
                  width: '15px',
                  height: '15px',
                  'margin-bottom': '10px'
                }"
              />
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '35%',
                  height: '15px',
                  'border-radius': '15',
                  'margin-bottom': '10px',
                  'margin-left': '7px'
                }"
              />
            </div>
            <div class="w-full flex justify-between">
              <div class="w-1/2 text-start">
                <div>
                  <ngx-skeleton-loader
                    appearance="circle"
                    [theme]="{'background-color':'#F2F2F2',
                      width: '12px',
                      height: '12px',
                      'margin-bottom': '10px'
                    }"
                  />
                  <ngx-skeleton-loader
                    [theme]="{
                      'background-color':'#F2F2F2',
                      width: '55%',
                      height: '12px',
                      'border-radius': '15',
                      'margin-bottom': '10px',
                      'margin-left': '6px'
                    }"
                  />
                </div>
              </div>
              <div class="w-1/2 text-end">
                <div>
                  <ngx-skeleton-loader
                    appearance="circle"
                    [theme]="{'background-color':'#F2F2F2',
                      width: '12px',
                      height: '12px',
                      'margin-bottom': '10px'
                    }"
                  />
                  <ngx-skeleton-loader
                    [theme]="{
                      'background-color':'#F2F2F2',
                      width: '55%',
                      height: '12px',
                      'border-radius': '15',
                      'margin-bottom': '10px',
                      'margin-left': '6px'
                    }"
                  />
                </div>
              </div>
            </div>
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '100%',
                  height: '10px',
                  'border-radius': '25',
                  'margin-bottom': '8px'
                }"
              />
            </div>
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '100%',
                  height: '15px',
                  'border-radius': '25',
                  'margin-bottom': '8px'
                }"
              />
            </div>
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '100%',
                  height: '23px',
                  'border-radius': '15',
                }"
              />
            </div>
          </div>
          <div class="w-full">
            <div>
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{'background-color':'#F2F2F2',
                  width: '15px',
                  height: '15px',
                  'margin-bottom': '10px'
                }"
              />
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '35%',
                  height: '15px',
                  'border-radius': '15',
                  'margin-bottom': '10px',
                  'margin-left': '7px'
                }"
              />
            </div>
            <div class="w-full flex justify-between">
              <div class="w-1/2 text-start">
                <div>
                  <ngx-skeleton-loader
                    appearance="circle"
                    [theme]="{'background-color':'#F2F2F2',
                      width: '12px',
                      height: '12px',
                      'margin-bottom': '10px'
                    }"
                  />
                  <ngx-skeleton-loader
                    [theme]="{
                      'background-color':'#F2F2F2',
                      width: '55%',
                      height: '12px',
                      'border-radius': '15',
                      'margin-bottom': '10px',
                      'margin-left': '6px'
                    }"
                  />
                </div>
              </div>
              <div class="w-1/2 text-end">
                <div>
                  <ngx-skeleton-loader
                    appearance="circle"
                    [theme]="{'background-color':'#F2F2F2',
                      width: '12px',
                      height: '12px',
                      'margin-bottom': '10px'
                    }"
                  />
                  <ngx-skeleton-loader
                    [theme]="{
                      'background-color':'#F2F2F2',
                      width: '55%',
                      height: '12px',
                      'border-radius': '15',
                      'margin-bottom': '10px',
                      'margin-left': '6px'
                    }"
                  />
                </div>
              </div>
            </div>
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '100%',
                  height: '10px',
                  'border-radius': '25',
                  'margin-bottom': '8px'
                }"
              />
            </div>
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '100%',
                  height: '15px',
                  'border-radius': '25',
                  'margin-bottom': '8px'
                }"
              />
            </div>
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '100%',
                  height: '23px',
                  'border-radius': '15',
                }"
              />
            </div>
          </div>
          <div class="w-full">
            <div>
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{'background-color':'#F2F2F2',
                  width: '15px',
                  height: '15px',
                  'margin-bottom': '10px'
                }"
              />
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '35%',
                  height: '15px',
                  'border-radius': '15',
                  'margin-bottom': '10px',
                  'margin-left': '7px'
                }"
              />
            </div>
            <div class="w-full flex justify-between">
              <div class="w-1/2 text-start">
                <div>
                  <ngx-skeleton-loader
                    appearance="circle"
                    [theme]="{'background-color':'#F2F2F2',
                      width: '12px',
                      height: '12px',
                      'margin-bottom': '10px'
                    }"
                  />
                  <ngx-skeleton-loader
                    [theme]="{
                      'background-color':'#F2F2F2',
                      width: '55%',
                      height: '12px',
                      'border-radius': '15',
                      'margin-bottom': '10px',
                      'margin-left': '6px'
                    }"
                  />
                </div>
              </div>
              <div class="w-1/2 text-end">
                <div>
                  <ngx-skeleton-loader
                    appearance="circle"
                    [theme]="{'background-color':'#F2F2F2',
                      width: '12px',
                      height: '12px',
                      'margin-bottom': '10px'
                    }"
                  />
                  <ngx-skeleton-loader
                    [theme]="{
                      'background-color':'#F2F2F2',
                      width: '55%',
                      height: '12px',
                      'border-radius': '15',
                      'margin-bottom': '10px',
                      'margin-left': '6px'
                    }"
                  />
                </div>
              </div>
            </div>
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '100%',
                  height: '10px',
                  'border-radius': '25',
                  'margin-bottom': '8px'
                }"
              />
            </div>
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '100%',
                  height: '15px',
                  'border-radius': '25',
                  'margin-bottom': '8px'
                }"
              />
            </div>
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '100%',
                  height: '23px',
                  'border-radius': '15',
                }"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="w-full border border-[#E4E7EC] rounded-lg p-4 mb-5">
        <div>
          <ngx-skeleton-loader
            [theme]="{
              'background-color':'#F2F2F2',
              width: '35%',
              height: '20px',
              'border-radius': '5',
              'margin-bottom': '10px'
            }"
          />
        </div>
        <div class="w-full flex flex-row items-center gap-2">
          <div>
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '35px',
                height: '35px',
                'border-radius': '15',
                'margin-bottom': '10px'
              }"
            />
          </div>
          <div>
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '105px',
                height: '20px',
                'border-radius': '12',
                'margin-bottom': '10px'
              }"
            />
          </div>
          <div>
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '35px',
                height: '35px',
                'border-radius': '15',
                'margin-bottom': '10px'
              }"
            />
          </div>
          <div>
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '105px',
                height: '20px',
                'border-radius': '12',
                'margin-bottom': '10px'
              }"
            />
          </div>
          <div>
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '35px',
                height: '35px',
                'border-radius': '15',
                'margin-bottom': '10px'
              }"
            />
          </div>
          <div>
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '105px',
                height: '20px',
                'border-radius': '12',
                'margin-bottom': '10px'
              }"
            />
          </div>
          <div>
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '35px',
                height: '35px',
                'border-radius': '15',
                'margin-bottom': '10px'
              }"
            />
          </div>
          <div>
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '130px',
                height: '20px',
                'border-radius': '12',
                'margin-bottom': '10px'
              }"
            />
          </div>
        </div>
        <div class="w-full flex flex-row items-center justify-between gap-5">
          <div class="w-1/2 text-start">
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '35%',
                  height: '22px',
                  'border-radius': '5',
                  'margin-bottom': '10px',
                }"
              />
            </div>
          </div>
          <div class="w-1/2 text-end">
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '25%',
                  height: '16px',
                  'border-radius': '5',
                  'margin-bottom': '10px',
                }"
              />
            </div>
          </div>
        </div>
        <div class="w-full flex flex-row items-center gap-2">
          <div class="text-start">
            <div>
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{'background-color':'#F2F2F2',
                  width: '12px',
                  height: '12px',
                  'margin-bottom': '12px'
                }"
              />
            </div>
          </div>
          <div class="w-11/12 flex flex-row items-center">
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '40px',
                  height: '40px',
                  'border-radius': '5',
                  'margin-bottom': '10px',
                }"
              />
            </div>
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '550px',
                  height: '40px',
                  'border-radius': '5',
                  'margin-bottom': '10px',
                  'margin-left': '8px',
                }"
              />
            </div>
          </div>
          <div class="w-1/12 text-end">
            <div>
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{'background-color':'#F2F2F2',
                  width: '12px',
                  height: '12px',
                  'margin-bottom': '12px'
                }"
              />
            </div>
          </div>
        </div>
        <div class="w-full flex flex-row items-center max-w-[20%] mx-auto">
          <div class="text-center">
            <div>
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{'background-color':'#F2F2F2',
                  width: '8px',
                  height: '8px',
                  'margin-bottom': '10px'
                }"
              />
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{'background-color':'#F2F2F2',
                  width: '8px',
                  height: '8px',
                  'margin-bottom': '10px'
                }"
              />
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '18px',
                  height: '8px',
                  'border-radius': '15',
                  'margin-bottom': '10px',
                }"
              />
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{'background-color':'#F2F2F2',
                  width: '8px',
                  height: '8px',
                  'margin-bottom': '10px'
                }"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="w-full border border-[#E4E7EC] rounded-lg pt-2 px-4 pb-4 mb-5">
        <div>
          <ngx-skeleton-loader
            [theme]="{
              'background-color':'#F2F2F2',
              width: '25%',
              height: '17px',
              'border-radius': '5',
              'margin-bottom': '13px',
            }"
          />
          <ngx-skeleton-loader
            [theme]="{
              'background-color':'#F2F2F2',
              width: '20%',
              height: '17px',
              'border-radius': '5',
              'margin-bottom': '13px',
              'margin-left': '10px',
            }"
          />
        </div>
        <div class="w-full flex flex-row items-center justify-between gap-5">
          <div class="w-1/2 text-start">
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '45%',
                  height: '17px',
                  'border-radius': '5',
                  'margin-bottom': '10px',
                }"
              />
            </div>
          </div>
          <div class="w-1/2 text-end">
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '30%',
                  height: '36px',
                  'border-radius': '5',
                  'margin-bottom': '10px',
                }"
              />
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
          <div class="w-full grid grid-cols-5">
            <div class="col-span-1 w-full">
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    'background-color':'#F2F2F2',
                    width: '100%',
                    height: '42px',
                    'border-radius': '5',
                    'margin-bottom': '8px'
                  }"
                />
              </div>
            </div>
            <div class="col-span-4 w-full ml-2">
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    'background-color':'#F2F2F2',
                    width: '100%',
                    height: '15px',
                    'border-radius': '10',
                    'margin-bottom': '2px',
                  }"
                />
              </div>
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    'background-color':'#F2F2F2',
                    width: '15%',
                    height: '17px',
                    'border-radius': '5',
                    'margin-bottom': '7px',
                    'margin-left': '4px',
                  }"
                />
                <ngx-skeleton-loader
                  appearance="circle"
                  [theme]="{'background-color':'#F2F2F2',
                    width: '13px',
                    height: '13px',
                    'margin-bottom': '9px',
                    'margin-left': '4px',
                  }"
                />
                <ngx-skeleton-loader
                  [theme]="{
                    'background-color':'#F2F2F2',
                    width: '15%',
                    height: '15px',
                    'border-radius': '5',
                    'margin-bottom': '7px',
                    'margin-left': '4px',
                  }"
                />
              </div>
            </div>
          </div>
          <div class="w-full grid grid-cols-5">
            <div class="col-span-1 w-full">
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    'background-color':'#F2F2F2',
                    width: '100%',
                    height: '42px',
                    'border-radius': '5',
                    'margin-bottom': '8px'
                  }"
                />
              </div>
            </div>
            <div class="col-span-4 w-full ml-2">
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    'background-color':'#F2F2F2',
                    width: '100%',
                    height: '15px',
                    'border-radius': '10',
                    'margin-bottom': '2px',
                  }"
                />
              </div>
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    'background-color':'#F2F2F2',
                    width: '15%',
                    height: '17px',
                    'border-radius': '5',
                    'margin-bottom': '7px',
                    'margin-left': '4px',
                  }"
                />
                <ngx-skeleton-loader
                  appearance="circle"
                  [theme]="{'background-color':'#F2F2F2',
                    width: '13px',
                    height: '13px',
                    'margin-bottom': '9px',
                    'margin-left': '4px',
                  }"
                />
                <ngx-skeleton-loader
                  [theme]="{
                    'background-color':'#F2F2F2',
                    width: '15%',
                    height: '15px',
                    'border-radius': '5',
                    'margin-bottom': '7px',
                    'margin-left': '4px',
                  }"
                />
              </div>
            </div>
          </div>
          <div class="w-full grid grid-cols-5">
            <div class="col-span-1 w-full">
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    'background-color':'#F2F2F2',
                    width: '100%',
                    height: '42px',
                    'border-radius': '5',
                    'margin-bottom': '8px'
                  }"
                />
              </div>
            </div>
            <div class="col-span-4 w-full ml-2">
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    'background-color':'#F2F2F2',
                    width: '100%',
                    height: '15px',
                    'border-radius': '10',
                    'margin-bottom': '2px',
                  }"
                />
              </div>
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    'background-color':'#F2F2F2',
                    width: '15%',
                    height: '17px',
                    'border-radius': '5',
                    'margin-bottom': '7px',
                    'margin-left': '4px',
                  }"
                />
                <ngx-skeleton-loader
                  appearance="circle"
                  [theme]="{'background-color':'#F2F2F2',
                    width: '13px',
                    height: '13px',
                    'margin-bottom': '9px',
                    'margin-left': '4px',
                  }"
                />
                <ngx-skeleton-loader
                  [theme]="{
                    'background-color':'#F2F2F2',
                    width: '15%',
                    height: '15px',
                    'border-radius': '5',
                    'margin-bottom': '7px',
                    'margin-left': '4px',
                  }"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full border border-[#E4E7EC] rounded-lg p-4 mb-5">
        <div>
          <ngx-skeleton-loader
            [theme]="{
              'background-color':'#F2F2F2',
              width: '20%',
              height: '25px',
              'border-radius': '10',
              'margin-bottom': '10px'
            }"
          />
        </div>
      </div>

      <div class="grid grid-cols-2 gap-3">
        <div class="w-full border border-[#E4E7EC] rounded-lg p-2.5 mb-5 col-span-1">
          <div>
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '19%',
                height: '20px',
                'border-radius': '5',
                'margin-bottom': '10px'
              }"
            />
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '14%',
                height: '20px',
                'border-radius': '5',
                'margin-bottom': '10px',
                'margin-left': '10px'
              }"
            />
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '21%',
                height: '20px',
                'border-radius': '5',
                'margin-bottom': '10px',
                'margin-left': '10px'
              }"
            />
          </div>
          <div class="w-full flex items-center">
            <div class="w-1/3">
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    'border':'2px solid #F2F2F2',
                    width: '75px',
                    height: '75px',
                    'border-radius': '50%',
                    'margin-bottom': '10px'
                  }"
                />
              </div>
            </div>
            <div class="w-2/3">
              <div class="flex items-center justify-between gap-5 w-full">
                <div class="text-start w-1/2">
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        'background-color':'#F2F2F2',
                        width: '90%',
                        height: '15px',
                        'border-radius': '10',
                        'margin-bottom': '8px'
                      }"
                    />
                  </div>
                </div>
                <div class="text-end w-1/2">
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        'background-color':'#F2F2F2',
                        width: '25%',
                        height: '15px',
                        'border-radius': '10',
                        'margin-bottom': '8px'
                      }"
                    />
                  </div>
                </div>
              </div>
              <div class="flex items-center justify-between gap-5 w-full">
                <div class="text-start w-1/2">
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        'background-color':'#F2F2F2',
                        width: '90%',
                        height: '15px',
                        'border-radius': '10',
                        'margin-bottom': '8px'
                      }"
                    />
                  </div>
                </div>
                <div class="text-end w-1/2">
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        'background-color':'#F2F2F2',
                        width: '25%',
                        height: '15px',
                        'border-radius': '10',
                        'margin-bottom': '8px'
                      }"
                    />
                  </div>
                </div>
              </div>
              <div class="flex items-center justify-between gap-5 w-full">
                <div class="text-start w-1/2">
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        'background-color':'#F2F2F2',
                        width: '90%',
                        height: '15px',
                        'border-radius': '10',
                        'margin-bottom': '8px'
                      }"
                    />
                  </div>
                </div>
                <div class="text-end w-1/2">
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        'background-color':'#F2F2F2',
                        width: '25%',
                        height: '15px',
                        'border-radius': '10',
                        'margin-bottom': '8px'
                      }"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full border border-[#E4E7EC] rounded-lg p-2.5 mb-5 col-span-1">
          <div>
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '19%',
                height: '20px',
                'border-radius': '5',
                'margin-bottom': '10px'
              }"
            />
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '14%',
                height: '20px',
                'border-radius': '5',
                'margin-bottom': '10px',
                'margin-left': '10px'
              }"
            />
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '21%',
                height: '20px',
                'border-radius': '5',
                'margin-bottom': '10px',
                'margin-left': '10px'
              }"
            />
          </div>
          <div class="w-full flex items-center">
            <div class="w-1/3">
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    'border':'2px solid #F2F2F2',
                    width: '75px',
                    height: '75px',
                    'border-radius': '50%',
                    'margin-bottom': '10px'
                  }"
                />
              </div>
            </div>
            <div class="w-2/3">
              <div class="flex items-center justify-between gap-5 w-full">
                <div class="text-start w-1/2">
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        'background-color':'#F2F2F2',
                        width: '90%',
                        height: '13px',
                        'border-radius': '10',
                        'margin-bottom': '5px',
                      }"
                    />
                  </div>
                </div>
                <div class="text-end w-1/2">
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        'background-color':'#F2F2F2',
                        width: '23%',
                        height: '13px',
                        'border-radius': '10',
                        'margin-bottom': '5px',
                      }"
                    />
                  </div>
                </div>
              </div>
              <div class="flex items-center justify-between gap-5 w-full">
                <div class="text-start w-1/2">
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        'background-color':'#F2F2F2',
                        width: '90%',
                        height: '13px',
                        'border-radius': '10',
                        'margin-bottom': '5px',
                      }"
                    />
                  </div>
                </div>
                <div class="text-end w-1/2">
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        'background-color':'#F2F2F2',
                        width: '23%',
                        height: '13px',
                        'border-radius': '10',
                        'margin-bottom': '5px',
                      }"
                    />
                  </div>
                </div>
              </div>
              <div class="flex items-center justify-between gap-5 w-full">
                <div class="text-start w-1/2">
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        'background-color':'#F2F2F2',
                        width: '90%',
                        height: '13px',
                        'border-radius': '10',
                        'margin-bottom': '5px',
                      }"
                    />
                  </div>
                </div>
                <div class="text-end w-1/2">
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        'background-color':'#F2F2F2',
                        width: '23%',
                        height: '13px',
                        'border-radius': '10',
                        'margin-bottom': '5px',
                      }"
                    />
                  </div>
                </div>
              </div>
              <div class="flex items-center justify-between gap-5 w-full">
                <div class="text-start w-1/2">
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        'background-color':'#F2F2F2',
                        width: '90%',
                        height: '13px',
                        'border-radius': '10',
                        'margin-bottom': '5px',
                      }"
                    />
                  </div>
                </div>
                <div class="text-end w-1/2">
                  <div>
                    <ngx-skeleton-loader
                      [theme]="{
                        'background-color':'#F2F2F2',
                        width: '23%',
                        height: '13px',
                        'border-radius': '10',
                        'margin-bottom': '5px',
                      }"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-1 md:col-span-2">
      <div class="w-full border border-[#E4E7EC] rounded-lg p-4 mb-5">
        <div>
          <ngx-skeleton-loader
            [theme]="{
              'background-color':'#F2F2F2',
              width: '100%',
              height: '24px',
              'border-radius': '10',
              'margin-bottom': '7px'
            }"
          />
        </div>
        <div class="grid grid-cols-3 gap-2.5">
          <div class="col-span-1">
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '100%',
                  height: '16px',
                  'border-radius': '10',
                  'margin-bottom': '7px'
                }"
              />
            </div>
          </div>
          <div class="col-span-1">
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '100%',
                  height: '16px',
                  'border-radius': '10',
                  'margin-bottom': '7px'
                }"
              />
            </div>
          </div>
          <div class="col-span-1">
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '100%',
                  height: '16px',
                  'border-radius': '10',
                  'margin-bottom': '7px'
                }"
              />
            </div>
          </div>
        </div>
        <div class="w-[70%] mx-auto">
          <div class="w-full">
            <ngx-skeleton-loader
              appearance="circle"
              [theme]="{'background-color':'#F2F2F2',
                width: '100%',
                height: '150px',
                'margin-bottom': '12px',
              }"
            />
          </div>
        </div>
        <div class="grid grid-cols-2 gap-2.5">
          <div class="col-span-1">
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '100%',
                  height: '35px',
                  'border-radius': '10',
                  'margin-bottom': '7px'
                }"
              />
            </div>
          </div>
          <div class="col-span-1">
            <div>
              <ngx-skeleton-loader
                [theme]="{
                  'background-color':'#F2F2F2',
                  width: '100%',
                  height: '35px',
                  'border-radius': '10',
                  'margin-bottom': '7px'
                }"
              />
            </div>
          </div>
        </div>
        <div class="w-full">
          <div class="grid grid-cols-12 items-center">
            <div class="text-start col-span-10">
              <div>
                <ngx-skeleton-loader
                  appearance="circle"
                  [theme]="{'background-color':'#F2F2F2',
                    width: '15px',
                    height: '15px',
                    'margin-bottom': '5px'
                  }"
                />
                <ngx-skeleton-loader
                  [theme]="{
                    'background-color':'#F2F2F2',
                    width: '75%',
                    height: '15px',
                    'border-radius': '10',
                    'margin-bottom': '5px',
                    'margin-left': '5px',
                  }"
                />
              </div>
            </div>
            <div class="col-span-2 text-end">
              <div>
                <ngx-skeleton-loader
                  [theme]="{
                    'background-color':'#F2F2F2',
                    width: '50%',
                    height: '15px',
                    'border-radius': '10',
                    'margin-bottom': '5px',
                  }"
                />
              </div>
            </div>
          </div>
          <div>
            <ngx-skeleton-loader
              appearance="circle"
              [theme]="{'background-color':'#F2F2F2',
                width: '15px',
                height: '15px',
                'margin-bottom': '5px'
              }"
            />
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '75%',
                height: '15px',
                'border-radius': '10',
                'margin-bottom': '5px',
                'margin-left': '5px',
              }"
            />
          </div>
          <div>
            <ngx-skeleton-loader
              appearance="circle"
              [theme]="{'background-color':'#F2F2F2',
                width: '15px',
                height: '15px',
                'margin-bottom': '5px'
              }"
            />
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '70%',
                height: '15px',
                'border-radius': '10',
                'margin-bottom': '5px',
                'margin-left': '5px',
              }"
            />
          </div>
          <div>
            <ngx-skeleton-loader
              appearance="circle"
              [theme]="{'background-color':'#F2F2F2',
                width: '15px',
                height: '15px',
                'margin-bottom': '5px'
              }"
            />
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '55%',
                height: '15px',
                'border-radius': '10',
                'margin-bottom': '5px',
                'margin-left': '5px',
              }"
            />
          </div>
          <div>
            <ngx-skeleton-loader
              appearance="circle"
              [theme]="{'background-color':'#F2F2F2',
                width: '15px',
                height: '15px',
                'margin-bottom': '5px'
              }"
            />
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '55%',
                height: '15px',
                'border-radius': '10',
                'margin-bottom': '5px',
                'margin-left': '5px',
              }"
            />
          </div>
          <div>
            <ngx-skeleton-loader
              appearance="circle"
              [theme]="{'background-color':'#F2F2F2',
                width: '15px',
                height: '15px',
                'margin-bottom': '5px'
              }"
            />
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '35%',
                height: '15px',
                'border-radius': '10',
                'margin-bottom': '5px',
                'margin-left': '5px',
              }"
            />
          </div>
          <div>
            <ngx-skeleton-loader
              appearance="circle"
              [theme]="{'background-color':'#F2F2F2',
                width: '15px',
                height: '15px',
                'margin-bottom': '5px'
              }"
            />
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '50%',
                height: '15px',
                'border-radius': '10',
                'margin-bottom': '5px',
                'margin-left': '5px',
              }"
            />
          </div>
          <div>
            <ngx-skeleton-loader
              appearance="circle"
              [theme]="{'background-color':'#F2F2F2',
                width: '15px',
                height: '15px',
                'margin-bottom': '5px'
              }"
            />
            <ngx-skeleton-loader
              [theme]="{
                'background-color':'#F2F2F2',
                width: '45%',
                height: '15px',
                'border-radius': '10',
                'margin-bottom': '5px',
                'margin-left': '5px',
              }"
            />
          </div>
        </div>
      </div>
      <div class="w-full border border-[#E4E7EC] rounded-lg mb-5">
        <div>
          <ngx-skeleton-loader
            [theme]="{
              'background-color':'#F2F2F2',
              width: '100%',
              height: '210px',
              'border-radius': '10',
            }"
          />
        </div>
      </div>
      <div class="w-full border border-[#E4E7EC] rounded-lg p-3 mb-5">
        <div>
          <ngx-skeleton-loader
            [theme]="{
              'background-color':'#F2F2F2',
              width: '75px',
              height: '75px',
              'border-radius': '10',
              'margin-bottom': '7px',
            }"
          />
        </div>
        <div>
          <ngx-skeleton-loader
            [theme]="{
              'background-color':'#F2F2F2',
              width: '100%',
              height: '35px',
              'border-radius': '10',
              'margin-bottom': '5px',
            }"
          />
        </div>
        <div>
          <ngx-skeleton-loader
            [theme]="{
              'background-color':'#F2F2F2',
              width: '50%',
              height: '20px',
              'border-radius': '10',
              'margin-bottom': '7px',
            }"
          />
        </div>
      </div>
    </div>
  </div>
</div>