<div class="relative inline-block w-full">

  <label class="block text-primary-700 font-medium mb-2 text-sm">
    {{ label()}}
    @if(isRequired()){
      <span class="absolute text-[#D92D20] font-medium text-sm ml-[2px] mt-[1px]">*</span>
    }
  </label>

  <div class="relative">
    <input 
      type="text" 
      [value]="dateRangeString"
      readonly
      (click)="toggleCalendar()" 
      [formControl]="control()"
      [ngClass]="{'text-sm': selectedLang === 'en', 'text-[12px]': selectedLang === 'bn'}"
      class="w-full block p-2 py-2 sm:pr-3 ps-9 text-primary-700 bg-white rounded-lg
             border-primary focus:ring-0 focus:border-2 focus:border-[#D95BB0]"
      [placeholder]="placeholder()" 
      readonly
    />

    <img 
      [src]="'images/calendar.svg'" 
      alt="Calendar Icon"
      (click)="toggleCalendar()"
      class="cursor-pointer absolute top-0  left-1 px-1.5 py-2 text-[#fff] rounded-full"
    >
  </div>

  @if(calendarVisible){
  <div class="absolute right-0 z-10 mt-1 bg-white border border-gray-300 shadow-lg rounded-lg p-3 w-full">
    <div class="flex flex-col sm:flex-row sm:space-x-4">

      <!-- First Calendar -->
      <div class="w-auto sm:w-full">
        <div class="flex  justify-between items-center px-1 sm:px-4 py-2 ">
          <button type="button" (click)="previousMonth('start')" class="text-primary-900 hover:text-[#C63C92] text-xs sm:text-sm flex items-center"><span class="icon-angle-left-o text-primary-700"></span></button>
          <div class="text-center text-xs sm:text-base font-semibold cursor-pointer flex items-center gap-1">
        
            <div class=" relative inline-block z-30 ml-1">
              <button type="button" (click)="toggleMonthDropdown('start'); $event.stopPropagation()" class="hover:text-[#C63C92] text-primary-700 font-semibold">
                {{ months[startCurrentMonth] }}

                @if (showStartMonthDropdown) {
                  <span class="absolute left-0 mt-1 w-[120px] sm:w-24 max-h-[200px] overflow-y-auto bg-white border border-gray-300 rounded shadow-lg z-20">
                    <div class="grid grid-cols-2 sm:grid-cols-1 gap-1 p-1 text-primary-900">
                      @for (month of months; track $index; let i = $index) {
                        <button type="button"
                          (click)="selectMonth(i, 'start'); $event.stopPropagation()"
                          class="p-1 text-[10px] sm:text-xs hover:bg-[#F2F4F7] rounded text-center"
                        >
                          {{ month }}
                        </button>
                      }
                    </div>
                  </span>
                }
              </button>
            </div>

            
            <div class="relative inline-block ml-1">
              <button type="button" (click)="toggleYearDropdown('start'); $event.stopPropagation()" class="hover:text-[#C63C92]">
                {{ selectedLang === 'bn' ? convertToBanglaNumber(startCurrentYear) : startCurrentYear }}
              </button>
              @if(showStartYearDropdown) {
                <div class="absolute left-0 top-full mt-1 z-50 w-[160px] max-h-[300px] overflow-y-auto bg-white border border-gray-300 rounded shadow-lg">
                  <div class="grid grid-cols-2 sm:grid-cols-1 gap-1 p-1">
                    @for (year of getYearRange(); track year) {
                      <button type="button"
                        (click)="selectYear(year, 'start'); $event.stopPropagation()"
                        class="p-1 text-[10px] sm:text-xs hover:bg-[#F2F4F7] rounded text-center"
                      >
                        {{ selectedLang === 'bn' ? convertToBanglaNumber(year) : year }}
                      </button>
                    }
                  </div>
                </div>
              }
            </div>
          </div>
          <button type="button" (click)="nextMonth('start')" class="text-gray-800 hover:text-blue-600 text-xs sm:text-sm"><span class="icon-angle-right-o text-primary-700 font-semibold"></span></button>
        </div>

        
        
        <div class="grid grid-cols-7 text-[10px] sm:text-xs text-center text-gray-500 px-0 sm:px-4 py-1 sm:py-2">
          @for (day of daysOfWeek; track $index) {
            <span class="w-5 sm:w-8 font-semibold truncate block leading-tight">
              {{ day }}
            </span>
          }
        </div>

        <div class="grid grid-cols-7 gap-0 sm:gap-1 px-0 sm:px-4">
          
          @for (day of startDaysInMonth; track $index) {
            @if (day) {
              <button type="button"
                [ngClass]="{
                  'bg-[#C63C92] text-white': isSelected(day),
                  'text-gray-400 cursor-not-allowed': day.getMonth() !== startCurrentMonth,
                  'hover:bg-[#F2F4F7]': day.getMonth() === startCurrentMonth
                }"
                [disabled]="day.getMonth() !== startCurrentMonth"
                (click)="day.getMonth() === startCurrentMonth && selectDate(day)"
                class="w-5 h-5 sm:w-8 sm:h-8 flex items-center justify-center rounded-full text-[10px] sm:text-sm transition duration-200">
                {{ selectedLang === 'bn' ? convertToBanglaNumber(day.getDate()) : day.getDate() }}
              </button>
            } @else {
              <span class="w-5 h-5 sm:w-8 sm:h-8 block"></span> <!-- Placeholder for null -->
            }
          }
        
         
        </div>
      </div>
    </div>




<!-- Footer for action buttons -->


  </div>
  }

</div>

