<div>
    <div class="text-xl font-semibold text-gray-800 mb-4">
        <span class="mr-[15px]">
            <i class="icon-exclamation-triangle bg-white text-[#b65e11]"></i>
        </span>
        <span class="text-[24px] font-bold text-[#333]">Warning</span>
    </div>
    <div class="max-h-none mt-5 mb-[15px] h-auto block">
        <div class="text-base text-black">
            <div>System cannot deal your requests at this moment, please try after some times.</div>
        </div>
    </div>
    <div class="float-none text-right py-[10px]">
        <button type="button" class="bg-[#B65E11] min-w-[92px] rounded text-white px-[10px] py-2" (click) = "dismiss()" area-label = "close">OK</button>
    </div>
    
</div>