<div>
    @if (label()) {
        <label [for]="name" data-testid="label" class="block text-sm font-medium leading-6 text-primary-700">
            {{label()}}
            @if(extraLabel()){
                <span class="text-primary-500 font-medium text-xs"> {{extraLabel()}}</span>
              }
            <span
                [ngClass]="isRequired()?'text-red-400':'hidden'"
            >*</span>
        </label>
    }
    @if (type() === 'text' || 'password' || 'email' || 'number') {
        <div class="relative mb-2 mt-2 ">
            <span
                class="icon-redo absolute py-2.5 ml-2 text-[#323232]"
                [ngClass]="{'hidden': !isExtraAttempt(), 'py-[15px]': isExtraAttempt() && control().errors?.['invalid']}"></span>
            <input 
                [type]="type()" 
                [name]="name" 
                [id]="name" 
                [class]="styleClass" 
                [ngClass]="classes()"
                [required]="isRequired()"
                [readOnly]="isDisabled()"
                [placeholder]="placeholder()"
                [formControl]="control()"
                [min]="minValue()"
                [max]="maxValue()"
                [maxlength]="maxLength()"

                [disabled]="isDisabled()"
                >
        </div>
    }
    <!-- Error Message -->
     @if(control().errors?.['invalid']){
        <p
        class="text-sm text-red-600 mt-2"
        id="hs-validation-name-error-helper"
      >
        {{ validationText() }}
      </p>
     }
</div>
