  <div id="footerhide" class="footer-component  bg-[#F9FAFB] pt-8 pb-16 px-6  sm:px-0" *transloco="let t">
    <div class="container 2xl:mx-auto 2xl:max-w-[81rem] 2xl:px-0 xl:px-16">
      <div class="flex flex-col md:flex md:flex-row md:justify-between">
        <div class="xl:flex flex-col mb-6 xl:mb-0">
          <a href="https://bdjobs.com" target="_blank" rel="noopener noreferrer">
            <img
              class="brand-logo h-10 mb-8"
              src="images/bdjobslogo-mybdjobs.svg"
              draggable="false"
            />
          </a>
          <p class="text-[#101828] font-semibold text-xl">{{ t('footer.Need any support') }}?</p>
          <p class="text-[#182230] font-normal text-sm w-[280px]">{{ t('footer.Contact Center Title1') }}
           <span class="text-[#101828] font-semibold text-sm"><br>{{ t('footer.Contact Center Title2') }}</span> </p>
           <div class="flex gap-2 mt-5">
            <img src="images/phone-call-01.svg" alt="">
            <div class="text-[#D92D20] font-bold text-base">
              <p>09638666444</p>
              <p>01897627858</p>
            </div>
           </div>
        </div>
        <div class="  mb-6 md:mb-0">
          <p class="text-base font-semibold mb-2">{{ t('footer.about Us') }}</p>
          <ul class="list-none pl-0">
            <li class="py-1">
              <a
                href="{{ t('footer.about Us Url') }}"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >{{ t('footer.about Bdjobs.com') }}</a
              >
            </li>
            <li class="py-1">
              <a
                href="{{ t('footer.Terms Conditions Url') }}"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >{{ t('footer.Terms Conditions') }}</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://bdjobs.com/policy/Privacy_policy.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >{{ t('footer.Privacy Policy') }}</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://jobs.bdjobs.com/feedback.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >{{ t('footer.Feedback') }}</a
              >
            </li>
            <li class="py-1">
              <a
                href="{{ t('footer.Contact Us Url') }}"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >{{ t('footer.Contact Us') }}</a
              >
            </li>
            <li class="py-1">
              <a
                href="{{ t('footer.Accessibility Statement Url') }}"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >{{ t('footer.Accessibility Statement') }}</a
              >
            </li>

          </ul>
        </div>
        <!-- Author: Chowdhury Mohammad Irfanuddin -->
        <div class="  mb-6 md:mb-0">
          <p class="text-base font-semibold mb-2">{{ t('footer.Job Seekers') }}</p>
          <ul class="list-none pl-0">
            <li class="py-1">
              <a
                href="https://mybdjobs.bdjobs.com/bdjobs-pro/bdjobs-pro-package-pricing"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >{{ t('footer.bdJobs pro') }}</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://mybdjobs.bdjobs.com/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >{{ t('footer.My Bdjobs Panel')}}</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://mybdjobs.bdjobs.com/emailnotification/view_all_feature.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >{{ t('footer.List of Features')}}</a
              >
            </li>
            <li class="py-1">
              <a
                href="{{ t('footer.Video Guides Url')}}"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >{{ t('footer.Video Guides')}}</a
              >
            </li>
            <li class="py-1">
              <a
                href="{{ t('footer.FAQ Url')}}"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >{{ t('footer.FAQ')}}</a
              >
            </li>
          </ul>
        </div>
        <div class="  mb-6 md:mb-0">
          <h2 class="text-base font-semibold mb-2">{{ t('footer.Recruiter')}}</h2>
          <ul class="list-none pl-0">
            <li class="py-1">
              <a
                href="https://recruiter.bdjobs.com/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >{{ t('footer.Create Account under Recruiter')}}</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://corporate3.bdjobs.com/services.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >{{ t('footer.Products/Service')}}</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://recruiter.bdjobs.com/jobposting/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >{{ t('footer.Post a Job')}}</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://corporate3.bdjobs.com/help/help.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >{{ t('footer.FAQ under Recruiter')}}</a
              >
            </li>
          </ul>
        </div>
        <div class="  mb-6 md:mb-0">
          <div class="border border-[#F2F4F7] rounded-md px-2 py-3 shadow">
            <p class="text-lg font-semibold">{{ t('footer.Download Mobile App')}}</p>
            <p class="text-[#344054] text-xs font-normal">{{ t('footer.Get real-time job updates on our app')}}</p>
            <div class="flex gap-2 mt-2">
              <a
                href="https://play.google.com/store/apps/details?id=com.bdjobs.app"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="images/google-play-badge.svg"
                  alt="Download employer app"
                  class="w-28 md:w-20"
                  draggable="false"
              /></a>
              <a
                href="https://apps.apple.com/in/app/bdjobs/id1435728822"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="images/App-Store-Badge.svg"
                  alt="Download employer iOS app"
                  class="w-28 md:w-20"
                  draggable="false"
              /></a>
              <a
                href="https://appgallery.huawei.com/#/app/C101426113"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="images/Badges.svg"
                  alt="Download employer iOS app"
                  class="w-28 md:w-20"
                  draggable="false"
              /></a>
            </div>
          </div>
          <div class="border border-[#F2F4F7] rounded-md px-2 py-3 mt-2 shadow">
            <p class="text-lg font-semibold">{{ t('footer.Download Employer App')}}</p>
            <p class="text-[#344054] text-xs font-normal">{{ t('footer.Post jobs and manage hiring anytime')}}</p>
            <div class="flex gap-2 mt-2">
              <a
                href="https://play.google.com/store/apps/details?id=com.bdjobs.recruiter"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="images/google-play-badge.svg"
                  alt="Download employer app"
                  class="w-28 md:w-20"
                  draggable="false"
              /></a>
              <a
                href="https://apps.apple.com/us/app/bdjobs-employer/id1479828492"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="images/App-Store-Badge.svg"
                  alt="Download employer iOS app"
                  class="w-28 md:w-20"
                  draggable="false"
              /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-between md:pr-24 mt-3">
        <div class="hidden md:block flex-1 max-w-fit">
          <h1 class="text-[#101828] font-semibold text-base">{{ t('footer.Our Valuable Partners')}}</h1>
          <div class="flex gap-4 mt-2">
            <a href="http://www.catho.com.br/" target="_blank"><img src="images/catho-logo.png" alt=""></a>
            <a href="https://www.workana.com/" target="_blank"><img src="images/Logo_Workana.png" alt=""></a>
            <a href="http://www.zhaopin.com/" target="_blank"><img src="images/zhaopin_logo.ae6fe9.png" alt=""></a>
            <a href="https://deliverytiger.com.bd/" target="_blank"><img src="images/tiger-logo.svg" alt=""></a>
            <a href="http://www.seek.com.au/" target="_blank"><img src="images/SEEK-Logo.png" alt=""></a>
            <a href="https://www.occ.com.mx/" target="_blank"><img src="images/Options_Clearing_Corporation_logo.png" alt=""></a>
            <a href="https://www.jora.com/" target="_blank"><img src="images/Jora.png" alt=""></a>
            <a href="http://www.jobsdb.com/" target="_blank"><img src="images/jobsdb-logo.png" alt=""></a>
            <a href="http://www.jobberman.com/" target="_blank"><img src="images/landscape.svg" alt=""></a>
            <a href="http://www.brightermonday.com/" target="_blank"><img src="images/catho-logo.svg" alt=""></a>
            <a href="https://ajkerdeal.com/" target="_blank"><img src="images/ajker-deal.svg" alt=""></a>
          </div>
        </div>
        <div>
          <p class="text-[#101828] font-semibold text-base mb-2">{{ t('footer.Stay connected with us')}}</p>
          <div class="flex space-x-4 mb-4">
            <a
            href="https://www.instagram.com/mybdjobs/"
            target="_blank"
            rel="noopener noreferrer"
            class="group relative w-7 h-7 md:w-5 md:h-5"
          >
            <img
              src="images/instagram.svg"
              alt="Youtube link"
              class="absolute inset-0 w-full h-full group-hover:opacity-0 transition-opacity duration-200"
              draggable="false"
            />
            <img
              src="images/instagram-color.svg"
              alt="Youtube link hover"
              class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition-opacity duration-200"
              draggable="false"
            />
            </a>
            <a
            href="https://www.facebook.com/mybdjobs"
            target="_blank"
            rel="noopener noreferrer"
            class="group relative w-7 h-7 md:w-5 md:h-5"
          >
            <img
              src="images/facebook.svg"
              alt="Youtube link"
              class="absolute inset-0 w-full h-full group-hover:opacity-0 transition-opacity duration-200"
              draggable="false"
            />
            <img
              src="images/facebook-color.svg"
              alt="Youtube link hover"
              class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition-opacity duration-200"
              draggable="false"
            />
            </a>
            <a
            href="https://www.linkedin.com/company/mybdjobs"
            target="_blank"
            rel="noopener noreferrer"
            class="group relative w-7 h-7 md:w-5 md:h-5"
          >
            <img
              src="images/linkedin.svg"
              alt="Youtube link"
              class="absolute inset-0 w-full h-full group-hover:opacity-0 transition-opacity duration-200"
              draggable="false"
            />
            <img
              src="images/linkedin-color-icon.svg"
              alt="Youtube link hover"
              class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition-opacity duration-200"
              draggable="false"
            />
            </a>
            <a
            href="https://b.bdjobs.com/google-page"
            target="_blank"
            rel="noopener noreferrer"
            class="group relative w-7 h-7 md:w-5 md:h-5"
          >
            <img
              src="images/google.svg"
              alt="Youtube link"
              class="absolute inset-0 w-full h-full group-hover:opacity-0 transition-opacity duration-200"
              draggable="false"
            />
            <img
              src="images/google-color.svg"
              alt="Youtube link hover"
              class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition-opacity duration-200"
              draggable="false"
            />
            </a>
            <a
            href="https://www.youtube.com/mybdjobs"
            target="_blank"
            rel="noopener noreferrer"
            class="group relative w-7 h-7 md:w-5 md:h-5"
          >
            <img
              src="images/youtube.svg"
              alt="Youtube link"
              class="absolute inset-0 w-full h-full group-hover:opacity-0 transition-opacity duration-200"
              draggable="false"
            />
            <img
              src="images/youtube-color.svg"
              alt="Youtube link hover"
              class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition-opacity duration-200"
              draggable="false"
            />
            </a>
          
          </div>
        </div>
      </div>
    </div>
    <!-- <hr class="border-t border-[#E4E7EC] my-4" />
    <div class="flex justify-between container 2xl:mx-auto 2xl:max-w-[81rem] 2xl:px-0 xl:px-16">
      <p class="text-[#344054] text-sm font-medium">© Copyright bdjobs.com ltd. all right reserved.</p>
      <div class="hidden md:block pr-[70px]">
        <a class="text-[#344054] hover:text-[#0E73A9] text-sm font-medium mr-3" href="https://bdjobs.com/tos.asp">Terms of service</a>
        <a class="text-[#344054] hover:text-[#0E73A9] text-sm font-medium" href="https://bdjobs.com/policy/Privacy_policy.asp">{{ t('footer.Privacy Policy')}}</a>
      </div>
    </div> -->
  </div>

