
<div class="relative w-full ">
  @if (label()) {
    <label  class="block text-sm font-medium leading-6 text-[#344054] relative">
      {{ label() }}
      @if(isRequired()){
        <span class="absolute text-[#D92D20] font-medium text-sm ml-[2px] mt-[1px]">*</span>
      }
      
    </label>
  }
  <div (click)="isDropdownOpen.set(!isDropdownOpen())" class="relative">
    <button 
      type="button"

      [ngClass]="isDropdownOpen() ?'border-2 border-[#D95BB0]':'border border-[#DEDEDE]' "
      class="h-[38px]  text-left my-2 flex items-center justify-between text-[#667085] cursor-pointer w-full px-3 py-2  sm:text-sm  rounded-md"
      placeholder="Select job nature">
      {{ selectedItem() ? selectedItem()!.label : placeholder }}
      <span class="icon-angle-bottom transform  text-primary-500 "></span>
      <!-- <img src="images/arrow-down-black.svg" alt="arrow.svg" class="absolute top-2 right-2"> -->
      
    </button>
  </div>
  
  @if (isDropdownOpen()) {

    <div [ngClass]="label() ? 'top-[72px]':'top-[40px]'" class="w-full absolute z-10 mt-1 bg-white dropdown-shadow rounded-md border border-[#DAE5EC] px-2 py-2">

      <div class="max-h-[140px] overflow-y-auto">
        @for (item of options(); track item.value) {
          <div 
            class="flex items-center hover:bg-[#F3F4F6] hover:rounded-md cursor-pointer transition-all duration-200 ease-in-out px-2 py-1"
            (click)="selectItem(item)"
          >
            <input 
              [id]="item.id"
              type="radio"
              class="hidden"
              [name]="name"
              [value]="item.value"
              [checked]="control.value === item.value"
            >
            <label class="text-sm text-[#344054] cursor-pointer w-full">
              {{ item.label }}
            </label>
          </div>
        }
      </div>
      
    </div>
  }
</div>

  
  