<accordion-main-body
  [accordionName]="t('armyEmployment.title')"
  buttonType="none"
  [isAccordionOpen]="isOpen()"
  [isFormOpen]="isEmploymentArmyHistoryNewFormOpen()"
  (formToggleEmitter)="
    isEmploymentArmyHistoryNewFormOpen.set(
      !isEmploymentArmyHistoryNewFormOpen()
    )
  "
  (accordionToggleEmitter)="onExpandClick()"
  *transloco="let t"
>
  @if(isLoading()) {
  <div class="flex items-center justify-center py-[50px]">
    <img [src]="'/images/loading.gif'" alt="Loading..." />
  </div>
  }@else { @if(isInfoAvailable()) {
  <div
    class="my-5"
    [ngClass]="{ hidden: isEmploymentArmyHistoryEditFormOpen() }"
  >
    <div class="flex flex-wrap justify-between items-center gap-4">
      <h3 class="text-lg font-semibold text-slate-700">{{t('armyEmployment.information')}}</h3>
      <div class="flex gap-4 items-center">
        <button
          class="flex items-center gap-1.5 text-[#B32D7D]"
          aria-label="Edit Academic 1"
          (click)="isEmploymentArmyHistoryEditFormOpen.set(true)"
        >
          <img src="images/edit-05.svg" class="h-[15px] w-[15px]" />
          <span class="text-sm hidden sm:inline">{{t('armyEmployment.edit')}}</span>
        </button>
        <button
          class="flex items-center gap-1.5 text-slate-600"
          aria-label="Delete Academic 1"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            class="w-4 h-4"
          >
            <path
              d="M2 4H3.33333H14"
              stroke="#334155"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M5.33325 4V2.66667C5.33325 2.48986 5.40349 2.32029 5.52851 2.19526C5.65354 2.07024 5.82311 2 5.99992 2H9.99992C10.1767 2 10.3463 2.07024 10.4713 2.19526C10.5963 2.32029 10.6666 2.48986 10.6666 2.66667V4"
              stroke="#334155"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12.6666 4V13.3333C12.6666 13.5101 12.5963 13.6797 12.4713 13.8047C12.3463 13.9298 12.1767 14 11.9999 14H3.99992C3.82311 14 3.65354 13.9298 3.52851 13.8047C3.40349 13.6797 3.33325 13.5101 3.33325 13.3333V4"
              stroke="#334155"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M6.66675 7.33334V11.3333"
              stroke="#334155"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M9.33325 7.33334V11.3333"
              stroke="#334155"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <span class="text-sm hidden sm:inline" (click)="openDeleteModal()"
            >{{t('armyEmployment.delete')}}</span
          >
        </button>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-4">
      @for (record of armyData; track record.bA_Number) {
      <div>
        <p class="text-sm text-gray-500">{{t('armyEmployment.baNo')}}</p>
        <p class="mt-1 text-sm font-medium text-gray-900">{{ record.bA_No }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-500">{{t('armyEmployment.ranks')}}</p>
        <p class="mt-1 text-sm font-medium text-gray-900">{{ record.rank }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-500">{{t('armyEmployment.type')}}</p>
        <p class="mt-1 text-sm font-medium text-gray-900">{{ record.type }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-500">{{t('armyEmployment.arms')}}</p>
        <p class="mt-1 text-sm font-medium text-gray-900">{{ record.arms }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-500">{{t('armyEmployment.trade')}}</p>
        <p class="mt-1 text-sm font-medium text-gray-900">{{ record.trade }}</p>
      </div>
      <div>
        <p class="text-sm text-gray-500">{{t('armyEmployment.course')}}</p>
        <p class="mt-1 text-sm font-medium text-gray-900">
          {{ record.course }}
        </p>
      </div>
      <div>
        <p class="text-sm text-gray-500">{{t('armyEmployment.dateOfCommission')}}</p>
        <p class="mt-1 text-sm font-medium text-gray-900">
          {{ record.dateOfCommision | date : "MMMM d, y" }}
        </p>
      </div>
      <div>
        <p class="text-sm text-gray-500">{{t('armyEmployment.dateOfRetirement')}}</p>
        <p class="mt-1 text-sm font-medium text-gray-900">
          {{ record.dateOfRetirement | date : "MMMM d, y" }}
        </p>
      </div>
      }
    </div>
  </div>

  <!--edit button code-->
  @if(formIsOpen()) {
  <div
    class="my-5"
    [ngClass]="{ hidden: !isEmploymentArmyHistoryEditFormOpen() }"
  >
    <h3 class="text-lg font-semibold text-slate-700">{{t('armyEmployment.information')}}</h3>
    <form
      class="mt-5 space-y-4"
      [formGroup]="employmentArmyForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <div>
          <div class="grid grid-cols-2 gap-4 items-center relative">
            <!-- Dropdown -->
            <div class="flex flex-col">
              <app-selectbox
                [label]="t('armyEmployment.baNo')"
                [isRequired]="true"
                [placeholder]="placeholderText"
                [options]="BaNumber"
                [control]="baNumberControl()"
              >
              </app-selectbox>
            </div>

            <!-- Input Field -->
            <div class="flex flex-col mt-6">
              <app-input
                [placeholder]="t('armyEmployment.enterYourbaNo')"
                [control]="baNumericControl()"
                [customClasses]="
                  'min-w-0 w-full truncate text-sm text-gray-500 rounded-lg border border-gray-300 shadow-sm px-3 py-2 h-10 focus:border-[#C63C92] focus:ring-1 focus:ring-[#C63C92] placeholder:text-xs xs:placeholder:text-sm'
                "
              ></app-input>
              <div
                *ngIf="baNumericControl().touched && baNumericControl().dirty"
                class="text-red-600 text-xs mt-1"
              >
                <span *ngIf="baNumericControl().errors?.['required']"
                  >{{t('armyEmployment.Barequired')}}</span
                >
                <span *ngIf="baNumericControl().errors?.['pattern']"
                  >{{t('armyEmployment.numeric')}}</span
                >
                <span *ngIf="baNumericControl().errors?.['minlength']"
                  >{{t('armyEmployment.minlength')}}
                  {{ baNumericControl().errors?.['minlength'].requiredLength


                  }}.</span
                >
                <span *ngIf="baNumericControl().errors?.['maxlength']"
                  >{{t('armyEmployment.maxlength')}}
                  {{ baNumericControl().errors?.['maxlength'].requiredLength


                  }}.</span
                >
              </div>
            </div>

            <!-- Vector (−) Symbol for Responsive Screens -->
            <div
              class="absolute left-1/2 mt-5 -translate-x-1/2 text-gray-400 text-xl block lg:hidden"
            >
              &minus;
            </div>
          </div>
        </div>

        <div>
          <app-selectbox
            [label]="t('armyEmployment.ranks')"
            [placeholder]="t('armyEmployment.enterYourRank')"
            [options]="Ranks"
            [control]="RanksControl()"
          ></app-selectbox>
        </div>
        <div
          *ngIf="RanksControl().touched || RanksControl().dirty"
          class="text-red-600 text-xs mt-1"
        >
          <span *ngIf="RanksControl().errors?.['required']"
            >{{t('armyEmployment.Rankrequired')}}</span
          >
        </div>
      </div>

      <div
        class="flex flex-wrap gap-8 items-start mt-4 w-full max-md:max-w-full"
      >
        <!-- Designation Selectbox -->
        <div class="flex-1 shrink basis-0 min-w-60 max-md:max-w-full">
          <app-selectbox
            [label]="t('armyEmployment.type')"
            [placeholder]="t('armyEmployment.enterYourType')"
            [options]="TypeOfArmy"
            [control]="TypeOfArmyControl()"
            [isRequired]="true"
            [customClasses]="
              'flex gap-2 items-center py-2.5 mt-[8px] w-full text-sm text-gray-500 rounded-lg border border-solid shadow-sm bg-white border-gray-300 px-4 max-md:max-w-full h-10 focus:border-[#C63C92] focus:ring-1 focus:ring-[#C63C92] focus:outline-none transition-colors'
            "
          ></app-selectbox>
          <div
            *ngIf="TypeOfArmyControl().touched || TypeOfArmyControl().dirty"
            class="text-red-600 text-xs mt-1"
          >
            <span *ngIf="TypeOfArmyControl().errors?.['required']"
              >{{t('armyEmployment.Typerequired')}}.</span
            >
          </div>
        </div>

        <!-- Department Selectbox -->
        <div class="flex-1 shrink basis-0 min-w-60 max-md:max-w-full">
          <app-selectbox
            [label]="t('armyEmployment.arms')"
            [placeholder]="t('armyEmployment.enterYourArms')"
            [options]="Arms"
            [control]="ArmsControl()"
            [customClasses]="
              'flex gap-2 items-center py-2.5 mt-[8px] w-full text-sm text-gray-500 rounded-lg border border-solid shadow-sm bg-white border-gray-300 px-4 max-md:max-w-full h-10 focus:border-[#C63C92] focus:ring-1 focus:ring-[#C63C92] focus:outline-none transition-colors'
            "
          ></app-selectbox>
          <div
            *ngIf="ArmsControl().touched || ArmsControl().dirty"
            class="text-red-600 text-xs mt-1"
          >
            <span *ngIf="ArmsControl().errors?.['required']"
              >{{t('armyEmployment.Armsrequired')}}</span
            >
          </div>
        </div>
      </div>

      <div
        class="flex flex-wrap gap-8 items-start mt-4 w-full max-md:max-w-full"
      >
        <!-- Designation Selectbox -->
        <div class="flex-1 shrink basis-0 min-w-60 max-md:max-w-full">
          <app-input
            [label]="t('armyEmployment.trade')"
            [placeholder]="t('armyEmployment.enterYourTrade')"
            [control]="TradeControl()"
            [isNumericOnly]="false"
            [customClasses]="
              'flex gap-2 items-center py-2.5 mt-[8px] w-full text-sm text-gray-500 rounded-lg border border-solid shadow-sm bg-white border-gray-300 px-4 max-md:max-w-full h-10 focus:border-[#C63C92] focus:ring-1 focus:ring-[#C63C92] focus:outline-none transition-colors'
            "
          ></app-input>
        </div>
        <!-- Department Selectbox -->
        <div class="flex-1 shrink basis-0 min-w-60 max-md:max-w-full">
          <app-input
            [label]="t('armyEmployment.course')"
            [placeholder]="t('armyEmployment.enterYourCourse')"
            [control]="CourseControl()"
            [isNumericOnly]="false"
            [customClasses]="
              'flex gap-2 items-center py-2.5 mt-[8px] w-full text-sm text-gray-500 rounded-lg border border-solid shadow-sm bg-white border-gray-300 px-4 max-md:max-w-full h-10 focus:border-[#C63C92] focus:ring-1 focus:ring-[#C63C92] focus:outline-none transition-colors'
            "
          ></app-input>
        </div>
      </div>

      <div class="flex flex-col sm:flex-row sm:items-start sm:gap-6 gap-4">
        <div class="w-full sm:w-1/2">
          <app-date-single-date-picker
            [label]="t('armyEmployment.dateOfCommission')"
            [placeholder]="t('armyEmployment.monthDate')"
            [isRequired]="true"
            [control]="DateOfCommissionControl()"
            (selectedStartDateChange)="onStartDateChanged($event)"
          ></app-date-single-date-picker>
        </div>
        <div class="w-full sm:w-1/2">
          <app-date-single-date-picker
            [label]="t('armyEmployment.dateOfRetirement')"
            [control]="DateOfRetirementControl()"
            [placeholder]="t('armyEmployment.monthDate')"
            [isRequired]="true"
            (selectedStartDateChange)="onEndDateChanged($event)"
          ></app-date-single-date-picker>
        </div>
      </div>
      <div *ngIf="DateOfRetirementControl().touched || DateOfRetirementControl().dirty"
         class="text-red-600 text-xs mt-1">
      <span *ngIf="DateOfRetirementControl().errors?.['required']">
        {{t('armyEmployment.endDateError')}}
      </span>
      <span *ngIf="employmentArmyForm.errors?.['retirementBeforeCommission']">
        Retirement date must be after commission date
      </span>
    </div>

      <div class="mb-3 flex items-center gap-3">
        <button
          type="submit"
          class="flex-1 w-full sm:max-w-fit px-5 py-2.5 rounded-lg shadow-skeuomorphic border border-[#ffffff1f] bg-[#C63C92] text-white text-sm font-semibold"
        >
          {{t('armyEmployment.save')}}
        </button>
        <button
          type="button"
          [disabled]="isSubmitting()"
          (click)="isEmploymentArmyHistoryEditFormOpen.set(false)"
          class="flex-1 w-full sm:max-w-fit px-5 py-2.5 rounded-lg shadow-skeuomorphic border border-[#D0D5D] text-[#344054] text-sm font-semibold"
        >
          {{t('armyEmployment.close')}}
        </button>
      </div>
    </form>
  </div>
  } @if(isDeleteModalOpen()){
  <div
    class="fixed inset-0 bg-[#101828]/50 flex items-center justify-center z-[9999]"
  >
    <div
      class="bg-white w-[476px] h-[216px] p-10 rounded-lg shadow-md flex flex-col justify-between"
    >
      <p
        class="text-primary-900 text-center font-semibold text-[24px] leading-[32px]"
      >
        {{t('armyEmployment.confirmDeleteMessage')}}
      </p>
      <div class="flex justify-center gap-6 mt-6">
        <button
          (click)="closeDeleteModal()"
          class="px-4 py-2 text-sm rounded-lg border border-[#E4E7EC] bg-white shadow-sm text-primary-900 hover:bg-gray-100"
        >
          {{t('armyEmployment.cancel')}}
        </button>
        <button
          (click)="confirmDelete()"
          class="px-4 py-2 text-sm rounded-lg bg-[#C63C92] shadow-sm text-white hover:bg-pink-700"
        >
          {{t('armyEmployment.delete')}}
        </button>
      </div>
    </div>
  </div>
  } }@else {
  <app-no-details
    (openFormBtn)="openCertificationData()"
    [btnText]="t('armyEmployment.addData')"
    [description]="t('armyEmployment.noData')"
  ></app-no-details>
  } }
</accordion-main-body>
