<div class=" bg-[#fff] ">
    <div class="md:block hidden mx-auto max-w-[1280px]">
        <div class=" flex flex-col">
            <div class="pt-4 pb-2.5 flex  items-center justify-between gap-4">
                <div class="w-[160px]">
                  <ngx-skeleton-loader
                    [theme]="{'background-color':'#F2F2F2',
                      width: '100%',
                      'border-radius': '6px',
                      height: '20px',
                      'margin-bottom': '10px'
                    }"
                  />
                </div>
                <div>
                    <div class="flex items-center">
                        <div class="mr-[34px] flex items-center gap-1 ">
                            <div class="w-20">
                                <ngx-skeleton-loader
                                    [theme]="{'background-color':'#F2F2F2',
                                    width: '100%',
                                    'border-radius': '6px',
                                    height: '21px',
                                    'margin-bottom': '10px'
                                    }"
                                />
                            </div>
                            <div class="w-4">
                                <ngx-skeleton-loader
                                    [theme]="{'background-color':'#F2F2F2',
                                    width: '100%',
                                    'border-radius': '6px',
                                    height: '16px',
                                    'margin-bottom': '10px'
                                    }"
                                />
                            </div>
                        </div>
                        
                        <div class="mr-[45px] flex items-center gap-1">
                            <div class="w-10">
                                <ngx-skeleton-loader
                                    [theme]="{'background-color':'#F2F2F2',
                                    width: '100%',
                                    'border-radius': '6px',
                                    height: '21px',
                                    'margin-bottom': '10px'
                                    }"
                                />
                            </div>
                            <div class="w-4">
                                <ngx-skeleton-loader
                                    [theme]="{'background-color':'#F2F2F2',
                                    width: '100%',
                                    'border-radius': '6px',
                                    height: '16px',
                                    'margin-bottom': '10px'
                                    }"
                                />
                            </div>
                        </div>
    
                        <div class="mr-12 flex items-center gap-[33px]">
                            <div class="w-20">
                                <ngx-skeleton-loader
                                    [theme]="{'background-color':'#F2F2F2',
                                    width: '100%',
                                    'border-radius': '6px',
                                    height: '21px',
                                    'margin-bottom': '10px'
                                    }"
                                />
                            </div>
    
                            <div class="w-8">
                                <ngx-skeleton-loader
                                    [theme]="{'background-color':'#F2F2F2',
                                    width: '100%',
                                    'border-radius': '6px',
                                    height: '21px',
                                    'margin-bottom': '10px'
                                    }"
                                />
                            </div>
                            
                        </div>
    
                        <div class="flex items-center gap-[33px]">
                            <div class="w-[130px]">
                                <ngx-skeleton-loader
                                    [theme]="{'background-color':'#F2F2F2',
                                    width: '100%',
                                    'border-radius': '6px',
                                    height: '40px',
                                    'margin-bottom': '10px'
                                    }"
                                />
                            </div>
    
                            
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
        
    </div>
    <div class="h-[720px] flex-1 grid grid-cols-5">
        <div class="md:block hidden col-span-2 bg-[#f5f5f5]">
            <div class="h-full flex items-center justify-center">
                <div class="flex flex-col gap-[42px]">
                    <div class="w-[311px] h-[311px]">
                        <ngx-skeleton-loader
                            [theme]="{'background-color':'#E6E6E6',
                            width: '100%',
                            'border-radius': '6px',
                            height: '311px',
                            'margin-bottom': '10px'
                        }"
                        />
                    </div>
                    <div>
                        <div class="flex items-center justify-center">
                            <div class="w-[278px]">
                                <ngx-skeleton-loader
                                    [theme]="{'background-color':'#ccc',
                                    width: '100%',
                                    'border-radius': '6px',
                                    height: '26px',
                                    'margin-bottom': '4px'
                                }"
                                />
                            </div>
                        </div>
                        <div class="flex flex-col items-center">
                            <div class="w-[311px]">
                                <ngx-skeleton-loader
                                    [theme]="{'background-color':'#DBDBDB',
                                    width: '100%',
                                    'border-radius': '6px',
                                    height: '15px',
                                    'margin-bottom': '0px'
                                }"
                                />
                            </div>
                            <div class="self-start w-[289px]">
                                <ngx-skeleton-loader
                                    [theme]="{'background-color':'#DBDBDB',
                                    width: '100%',
                                    'border-radius': '6px',
                                    height: '15px',
                                    'margin-bottom': '0px'
                                }"
                                />
                            </div>
                            <div class="self-start w-[311px]">
                                <ngx-skeleton-loader
                                    [theme]="{'background-color':'#ccc',
                                    width: '100%',
                                    'border-radius': '6px',
                                    height: '15px',
                                    'margin-bottom': '0px'
                                }"
                                />
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                
            </div>
        </div>
        <div class="h-full col-span-5 sm:col-span-3">
            <div class="h-full flex items-center justify-center">
                <div class="flex flex-col items-center ">
                    <div class="md:w-[294px] w-[220px]">
                        <ngx-skeleton-loader
                            [theme]="{'background-color':'#F2F2F2',
                            width: '100%',
                            'border-radius': '6px',
                            height: '36px',
                            'margin-bottom': '2px' 
                        }"
                        />
                    </div>
                    <div class="md:w-[222px] w-[195px]">
                        <ngx-skeleton-loader
                            [theme]="{'background-color':'#F2F2F2',
                            width: '100%',
                            'border-radius': '6px',
                            height: '9px',
                            'margin-bottom': '14px' 
                        }"
                        />
                    </div>
    
                    <div class="md:w-[419px] w-[290px]">
                        <ngx-skeleton-loader
                            [theme]="{'background-color':'#D9D9D9',
                            width: '100%',
                            'border-radius': '27px',
                            height: '54px',
                            'margin-bottom': '26px' 
                        }"
                        />
                    </div>
                    <div class="self-start md:w-[186px] sm:w-[204px]">
                        <ngx-skeleton-loader
                            [theme]="{'background-color':'#F2F2F2',
                            width: '100%',
                            'border-radius': '6px',
                            height: '20px',
                            'margin-bottom': '2px' 
                        }"
                        />
                    </div>
                    <div class="self-start md:w-[493px] w-[286px]">
                        <ngx-skeleton-loader
                            [theme]="{'background-color':'#F2F2F2',
                            width: '100%',
                            'border-radius': '6px',
                            height: '48px',
                            'margin-bottom': '0px' 
                        }"
                        />
                    </div>
                    <div class="self-start w-[186px]">
                        <ngx-skeleton-loader
                            [theme]="{'background-color':'#F2F2F2',
                            width: '100%',
                            'border-radius': '6px',
                            height: '9px',
                            'margin-bottom': '18px'
                        }"
                        />
                    </div>
                    <div class="self-start md:w-[493px] w-[288px]">
                        <ngx-skeleton-loader
                            [theme]="{'background-color':'#D9D9D9',
                            width: '100%',
                            'border-radius': '24px',
                            height: '48px',
                            'margin-bottom': '12px'
                        }"
                        />
                    </div>
                    <div class="flex   gap-3 mb-3.5">
                        <div class="-mt-2 md:w-[150px] w-[76px]">
                            <ngx-skeleton-loader
                            [theme]="{'background-color':'#F2F2F2',
                            width: '100%',
                            'border-radius': '6px',
                            height: '2px',
                            'margin-bottom': '0px'
                        }"
                        />
                        </div>
                        <div class="md:w-[128px] w-16">
                            <ngx-skeleton-loader
                            [theme]="{'background-color':'#F2F2F2',
                            width: '100%',
                            'border-radius': '6px',
                            height: '17px',
                            'margin-bottom': '0px'
                        }"
                        />
                        </div>
                        <div class="-mt-2 md:w-[150px] w-[76px]">
                            <ngx-skeleton-loader
                            [theme]="{'background-color':'#F2F2F2',
                            width: '100%',
                            'border-radius': '6px',
                            height: '2px',
                            'margin-bottom': '0px'
                        }"
                        />
                        </div>
                    </div>
                    <div class="self-start w-[493px] md:block hidden">
                        <ngx-skeleton-loader
                            [theme]="{'background-color':'#F2F2F2',
                            width: '100%',
                            'border-radius': '6px',
                            height: '48px',
                            'margin-bottom': '6px'
                        }"
                        />
                    </div>
                    <div class="self-start w-[493px] md:block hidden">
                        <ngx-skeleton-loader
                            [theme]="{'background-color':'#F2F2F2',
                            width: '100%',
                            'border-radius': '6px',
                            height: '48px',
                            'margin-bottom': '0px'
                        }"
                        />
                    </div>

                    <div class="self-start w-[288px] md:hidden block">
                        <ngx-skeleton-loader
                            [theme]="{'background-color':'#F2F2F2',
                            width: '100%',
                            'border-radius': '24px',
                            height: '32px',
                            'margin-bottom': '0px'
                        }"
                        />
                    </div>
                    <div class="self-start w-[288px] md:hidden block">
                        <ngx-skeleton-loader
                            [theme]="{'background-color':'#F2F2F2',
                            width: '100%',
                            'border-radius': '24px',
                            height: '32px',
                            'margin-bottom': '0px'
                        }"
                        />
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</div>
