.NgxEditor__Wrapper{
    color:#595959 !important;
    border-radius:4px !important;
    // background-color: #F9FAFB !important ;
}

::ng-deep .ProseMirror {
    color: #667085;
    font-size: 16px;
  }

  .NgxEditor__Wrapper {
    width: 100% !important;
    max-width: 100% !important;
    overflow: hidden;
    
    .editor-content {
      width: 100% !important;
      max-width: 100% !important;
      
      ngx-editor {
        width: 100% !important;
        max-width: 100% !important;
        
        .NgxEditor {
          width: 100% !important;
          max-width: 100% !important;
          word-break: break-word;
          white-space: pre-wrap;
          overflow-wrap: break-word;
        }
      }
    }
  }