<div class="md:w-[488px] sm:p-2 p-1" *transloco="let t read: 'signin'">
    <div class="px-4 sm:px-8  flex flex-col gap-10 justify-center">
        <div class="flex flex-col items-center justify-center gap-6">
            <img [src]="'images/lock.svg'" alt="lock.svg" class="">
           
            <div class="flex flex-col gap-1.5">
                <p class="text-[#595959] text-sm sm:text-base font-normal  text-center  ">
                    {{t('success.passwordChanged')}}
                </p>
                <p class="text-[#333] text-sm sm:text-xl font-semibold  text-center  ">
                    {{t('success.succesfully')}}
                </p>
            </div>
            <div  class="w-full flex gap-4 mt-4">
                <button 
                  (click)="sharedService.updateType('username')"
                  type="submit"
                  class="bg-[#B32D7D] text-white text-sm font-semibold w-full h-12 rounded-full">
                  {{t('continue')}} 
              </button>
                  
              </div>
            
        </div>
         
    </div>
</div>
