<div *transloco="let t">
  <div class="bg-[#F9FAFB] border border-[#E4E7EC] rounded-xl mb-4">
    <div [ngClass]="isAccordionOpen() ? 'bg-white rounded-t-xl': 'bg-[#F9FAFB3]'"
      class=" text-[#344054] cursor-pointer ">
      <div class="sm:px-6 px-3 py-5 flex justify-between">
        <p [ngClass]="isAccordionOpen()? 'text-primary-900 font-semibold' :'font-medium'"
          class=" text-base sm:text-xl flex items-center gap-1">
          {{ accordionName() }}
          <span class="text-primary-500" [hidden]="!maxCount()">({{t('editResumeAccomplishment.max') }} {{ maxCount()
            }})</span>
        </p>
        <div class=" flex gap-2 items-center">
          @if(isAccordionOpen()) {
          <div class="flex items-center sm:gap-4 gap-0 text-primary-700"
            [ngClass]="{'hidden': buttonType() === 'none' || (buttonType() === 'edit' && isFormOpen())}">
            <button (click)="onClickHeaderBtn()" [disabled]="isFormOpen()"
              class="flex items-center gap-1.5 text-[#C63C92] disabled:opacity-55 disabled:cursor-not-allowed"
              [ngClass]="{'sm:text-[#344054]': buttonType()==='edit'}">
              <span class="sm:text-base text-sm sm:font-medium font-semibold"
                [ngClass]="buttonType() === 'edit' ? 'icon-edit' : 'icon-plus'"></span>
              <span class="sm:font-medium font-semibold text-sm">{{ buttonTitle() }}</span>
            </button>
            <p class="hidden sm:block w-px h-4 bg-[#D0D5DD]"></p>
          </div>
          <p (click)="accordionToggleEmitter.emit(true)" class="flex items-center space-x-2">
            <span class="text-[#C63C92] font-semibold sm:block hidden">{{t('editResumeOtherRelevant.collapse') }}</span>
            <span class="icon-angle-bottom rotate-180 text-[#C63C92]"></span>
          </p>
          } @else {
          <div (click)="accordionToggleEmitter.emit(true)" class="flex items-center space-x-2">
            <span class="text-[#344054] font-medium sm:block hidden">{{t('editResumeOtherRelevant.expand') }}</span>
            <span class="icon-angle-bottom transform  text-primary-700"></span>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="bg-white" [hidden]="!isAccordionOpen()">
      <div class="sm:px-6 px-0">
        <hr class="w-full">
      </div>
      <div class="sm:px-6 px-3 sm:gap-6 ">
        <ng-content />
      </div>
    </div>
  </div>
</div>